* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */

.container {
    width: 70%;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;

}

.card {
    width: 20%;
    display: inline-block;
}

.picture{
    position: relative;
}

.lay0 {
    position: absolute;
    width: 100%;
}

.lay1 {
    width: 100%;
}

.heart {
    position: absolute;
    top: 10%;
    right: 0;
    font-size: 20px;
    color: black;
    background-color: white;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

.discount  {
    position: absolute;
    bottom: 5%;
    left: 0;
    color: white;
    background-color: red;
    padding: 3px;
}

.eco-choice {
    position: absolute;
    left: 15%;
    bottom: 5%;
    color: white;
    background-color: green;
    padding: 3px;
}

h1 {
    font-size: 17px;
}

.new-price {
    color: red;
}

p > span {
    color: black;
    text-decoration: line-through;
}



.lay0:hover {
    display: none;
}

.lay0:hover .lay1 {
    display: active;
}

.heart:hover {
    color: red;
    cursor: pointer;
}


/* /common */







